/.vs/ProgramAssignment1/v17/.suo
/.vs/ProgramAssignment1/FileContentIndex/2ef5590b-89a3-4faa-9eb4-913b5b013f17.vsidx
/.vs/ProgramAssignment1/FileContentIndex/597cddb5-9eb9-40b5-8bfe-48d7a6b53361.vsidx
/.vs/ProgramAssignment1/FileContentIndex/632d20da-2386-4cf8-a89d-c0cb28063cf0.vsidx
/.idea/.idea.ProgramAssignment1/.idea/dictionaries/Allen.xml
/.vs/ProgramAssignment1/FileContentIndex/bec62839-fc32-4667-97be-80ff0949e4bd.vsidx
/.vs/ProgramAssignment1/v17/ipch/AutoPCH/3d51aee415024271/BITDEPTH.ipch
/.vs/ProgramAssignment1/v17/Browse.VC.db
/ProgramAssignment1/x64/Debug/ProgramA.4D140D5F.tlog/CL.command.1.tlog
/ProgramAssignment1/x64/Debug/ProgramA.4D140D5F.tlog/CL.read.1.tlog
/ProgramAssignment1/x64/Debug/ProgramA.4D140D5F.tlog/CL.write.1.tlog
/.idea/.idea.ProgramAssignment1/.idea/codeStyles/codeStyleConfig.xml
/ProgramAssignment1/x64/Debug/DisplayClass.obj
/.idea/.idea.ProgramAssignment1/.idea/encodings.xml
/.vs/ProgramAssignment1/v17/ipch/AutoPCH/19a1251b79a9322/HOLEDEPTH.ipch
/.idea/.idea.ProgramAssignment1/.idea/indexLayout.xml
/ProgramAssignment1/x64/Debug/InputWindow.obj
/ProgramAssignment1/x64/Debug/ProgramA.4D140D5F.tlog/link.command.1.tlog
/ProgramAssignment1/x64/Debug/ProgramA.4D140D5F.tlog/link.read.1.tlog
/ProgramAssignment1/x64/Debug/ProgramA.4D140D5F.tlog/link.write.1.tlog
/.vs/ProgramAssignment1/v17/ipch/AutoPCH/552e088b0443358/MAIN.ipch
/ProgramAssignment1/x64/Debug/main.obj
/ProgramAssignment1/x64/Debug/OilFieldDataParser.obj
/ProgramAssignment1/x64/Debug/ProgramAssignment1.Build.CppClean.log
/x64/Debug/ProgramAssignment1.exe
/ProgramAssignment1/x64/Debug/ProgramAssignment1.exe.recipe
/ProgramAssignment1/x64/Debug/ProgramAssignment1.ilk
/ProgramAssignment1/x64/Debug/ProgramA.4D140D5F.tlog/ProgramAssignment1.lastbuildstate
/ProgramAssignment1/x64/Debug/ProgramAssignment1.log
/x64/Debug/ProgramAssignment1.pdb
/ProgramAssignment1/x64/Debug/ProgramAssignment1.vcxproj.FileListAbsolute.txt
/ProgramAssignment1/ProgramAssignment1.vcxproj.user
/.idea/.idea.ProgramAssignment1/.idea/projectSettingsUpdater.xml
/.vs/ProgramAssignment1/FileContentIndex/read.lock
/ProgramAssignment1/x64/Debug/SensorReader.obj
/ProgramAssignment1/x64/Debug/ProgramA.4D140D5F.tlog/unsuccessfulbuild
/ProgramAssignment1/x64/Debug/vc143.idb
/ProgramAssignment1/x64/Debug/vc143.pdb
/.idea/.idea.ProgramAssignment1/.idea/vcs.xml
/ProgramAssignment1/x64/Debug/WellClass.obj
/ProgramAssignment1/x64/Debug/WellHandler.obj
/ProgramAssignment1/x64/Debug/WellSensor.obj
/ProgramAssignment1/x64/Debug/WellSensorHandler.obj
/.idea/.idea.ProgramAssignment1/.idea/workspace.xml
